html,body{
	font-size: 100px;
}
.a2{
	/*width: 100%;*/
	width: 3.20rem;
	height: 0.50rem;
	background-color: blue;
	text-align: center;
	line-height: 0.50rem;
	font-size: 0.30rem;
	margin-top: 0.20rem;
	color: #fff;
}